body{
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
ul{
  list-style-type: none;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2f0b1u');
  src:  url('fonts/icomoon.eot?2f0b1u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2f0b1u') format('truetype'),
    url('fonts/icomoon.woff?2f0b1u') format('woff'),
    url('fonts/icomoon.svg?2f0b1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e904";
  color: #8b8b8b;
}
.icon-app_aproved:before {
  content: "\e906";
  color: #8b8b8b;
}
.icon-no_ads:before {
  content: "\e907";
  color: #fff;
}
.icon-paypal:before {
  content: "\e908";
  color: #8b8b8b;
  font-size: 30px!important;
  margin-left: -15px;
}
.icon-sdk:before {
  content: "\e909";
  color: #8b8b8b;
}
.icon-try_free:before {
  content: "\e90a";
  color: #fff;
}
.icon-icloud:before {
  content: "\e900";
  color: #8b8b8b;
}
.icon-ios9:before {
  content: "\e901";
  color: #8b8b8b;
}
.icon-money_back:before {
  content: "\e902";
  color: #fff;
}
.icon-no_fee:before {
  content: "\e903";
  color: #fff;
}
.icon-xcode:before {
  content: "\e905";
  color: #8b8b8b;
}
.icon-arrow:before{
  content: url('svg/dropdown_arrow.svg');
}
#image_container{
  width: 100%;
  height: 426px;
  background-image: url("backgr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif!important;
  margin:60px 0 0 0;
}
#items_container, #tools_container, #showcase_block{
  width: calc(100% - 30px);
  max-width: 1080px;
  margin: 0 auto;
  padding: 85px 0 0 0;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
}
.content_item, .tool_item{
  width: 100%;
}
.content_item i{
  font-size: 98px;
  margin: 0 0 50px 0;
}
.content_item b,
.content_item span,
.content_item i,
.content_item a{
  font-weight: 200;
  text-align: center;
  display: block;
  color: #ffffff;
}
.content_item span, .content_item a{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  width: 205px;
  margin: 0 auto;
}
.content_item b{
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 20px;
}
#about_tools{
  margin:195px auto 0;
  font-family: 'Montserrat', sans-serif!important;
}
#about_tools > span{
  margin: 0 auto 40px;
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #7a7a7a;
}
#tools_container{
  width: 100%;
  padding: 0;
}
.tool_item span,
.tool_item i{  
  font-weight: 300;
  line-height: 1.43;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 70px;
  color: #7a7a7a;
  font-size: 14px;
}
.tool_item i{
  font-size: 53px;
  margin-bottom: 15px;

}
.tool_item i:before{
  color: #7a7a7a;
}
#support_container{
  width: calc(100% - 30px);
  max-width: 1080px;
  margin: 100px auto;
  font-family: "Montserrat", sans-serif!important;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -o-flex;
}
.support_content{
  width: 33%;
  display: inline-grid;
  float: left;
  position: relative;
  margin: 10px 0;
}
.support_content > span{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.11;
  text-align: center;
  color: #7a7a7a;
  padding: 0 10px;
}
.separate_line{
  background:#959595;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50px;
  padding: 0!important;
}
.support_items {
  margin: 20px 0;
  position: relative;
  padding: 0 44px;
}
.support_items img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    max-width: 90%;
}
.support_items ul{
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #7a7a7a;
  margin: 0 auto;
  padding: 20px 0 0;
  display: block;
  width: 100%;
  min-height: 235px;
}
.support_content:last-of-type .separate_line{
  background: transparent;
}



#showcase_block{
  max-width: 1170px;
}
.plans_section{
  width: 927px;
}
.plans_section.especial{
  width: 195px;
  margin-left: 15px;
}
.classes_head{
  width: 100%;
  height: 32px;
  border-radius: 6px;
  background-color: #a3daa6;
}
.classes_head{
  width: 100%;
  height: 32px;
  border-radius: 6px;
  background-color: #a3daa6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans_section.especial > .classes_head{
  background-color: #e0c678;
}
.classes_head span{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.classes_body{
  display: flex;
  justify-content: space-between;
}
.plan_type{
  margin: 33px 0;
  width: 195px;
  height: 135px;
  border-radius: 6px;
  background-color: #bdbfbf;
  position: relative;
}
.plan_type.gold_type{
  background-color: #d5ae36;
}
.plan_type.platinum_type{
  background-color: #28ace3;
}
.plan_type.premium_type{
  background-color: #8cc63f;
}
.plan_type.white_type{
  background-color: #ffffff;
}
.plan_type > svg {
  border-radius: 6px;
}
.plan_description {
  position:  absolute;
  width:  100%;
  left:  0;
  top: 0;
}
.plan_type .plan_description h4{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 12px 0;
}
.plan_type .plan_description hr{
  height: 1px;
  background-color: #ffffff;
  border: none;
  margin: 0 0 8px;
}
.select_container{
  border-radius: 5px;
  background-color: #e5e5e5b5;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.select_container *{
  transition: all ease 0.3s;
}
.select_header{
  text-align: center;
}
.select_header span{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: pointer;
}
.select_header i{
  vertical-align: bottom;
}
.select_body ul{
  margin: 0 auto;
  padding: 2px 0;
  width: calc(100% - 20px);
  max-height: 0;
  overflow: hidden;
}
.select_container.active .select_body ul{
  max-height: 300px; 
}
.select_body ul li{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-top: solid 1px #ffffff00;
  padding: 2px 0;
  cursor: pointer;
  visibility: hidden;
}
.select_container.active .select_body ul li{
  border-top: solid 1px #ffffffcf;
  visibility: visible;
}
.select_body ul li:hover{
  opacity: 0.6;
}
.select_body ul li.disabled{
  opacity: 0.6;
  color: #000000cf;
  cursor: not-allowed;
}








@media screen and (max-width: 768px) {
  #items_container, #tools_container, #support_container{
    flex-flow: wrap;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -o-flex-flow: wrap;
  }
  #image_container{
    height: fit-content;
    background-size: cover;
    background-position: center;
  }
  .content_item{
    width: 50%;
    margin: 20px 0;
  }
  .tool_item {
    display: inline-block;
    width: 25%;
    margin: 0 auto;
  }
  .support_content {
    width: 50%;
  }
  .support_content:nth-of-type(2) .separate_line{
    background: transparent;
  }
  .support_content:nth-of-type(3) .separate_line{
    background:  #959595;
  }
}
@media screen and (max-width: 500px) {
  .support_content {
    width: 100%;
  }
  .support_items{
    padding: 0 0;
  }
  .support_items ul{
    text-align: center;
  }
  .support_content .separate_line{
    background: transparent!important;
    background:  #959595!important;
    top: -20px;
    width: 100%;
    height: 1px;
  }
}
@media screen and (max-width: 400px) {
  .content_item{
    width: 100%;
    margin: 20px 0;
  }
  .tool_item{
    width: 33%;
  }
}